AVR/docs/*
AVR/obj/*
AVR/bin/*
AVR/Sandbox/*
AVR/Notes/*
AVR/*.o
AVR/*.cf
AVR/*.ucf
AVR/*.lst
AVR/*.vcd
AVR/testcases/__pycache__/*
AVR/*_testbench
Life/*.o
Life/*.cf
Life/*.pyc
Life/*.vcd
Life/*_tb
Notes/*
